*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/codeStyles/
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/libs/
module_jni/libs/
module_jni/src/main/jniLibs/
module_jni/src/main/res/drawable/
module_login/libs/
module_login/src/main/res/drawable/
module_news/libs/
modulebase/libs/
modulebase/src/main/java/com/axaet/module/base/bean/
modulebase/src/main/res/drawable/
