<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.axaet.jni">

    <application
        android:name=".application.DebugApplicationImpl"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/jni_app_name"
        android:supportsRtl="true"
        android:theme="@style/jni_AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.MainActivity"
            android:label="JNI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.JniActivity"
            android:label="JNI" />
    </application>

</manifest>