<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axaet.jni">

    <application>
        <activity android:name=".activity.JniActivity" android:label="JNI"/>
        <activity android:name=".activity.MainActivity" android:label="JNI"/>
    </application>

</manifest>